<div>
    <form [formGroup]="UserForm" (ngSubmit)="updateStaffList()">

        <h1 *ngIf="FormName=='add'; else edit">Add user</h1>
        <ng-template #edit>
            <h1>Edit user</h1>
        </ng-template>
        <div class="mb-3" style="display: none;">
            <input type="number" formControlName="id_num">
        </div>

        <!-- 名字 -->
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" formControlName="add_name" *ngIf="FormName=='add'; else edit_name"/>
            <div class="alert alert-danger mt-2" role="alert"
                *ngIf="UserForm.get('add_name')?.invalid && UserForm.get('add_name')?.touched">
                Please input name
            </div>
            <ng-template #edit_name>
                <input type="text" class="form-control" formControlName="edit_name">
                <div class="alert alert-danger mt-2" role="alert"
                *ngIf="UserForm.get('edit_name')?.invalid && UserForm.get('edit_name')?.touched">
                    Please input name
                </div>
            </ng-template>
            <!-- <div *ngIf="show_form() && f.fullname.errors" class="invalid-feedback">
                <div *ngIf="f.fullname.errors.required">Fullname is required</div>
            </div> -->
            <div id="emailHelp" class="form-text">Edit name</div>
        </div>

        <!-- 國家 -->
        <div class="mb-3">
            <label for="country" class="form-label">Country</label>
            <input type="text" class="form-control" formControlName="add_country"
                *ngIf="FormName=='add'; else edit_country">
            <div class="alert alert-danger mt-2" role="alert"
                *ngIf="UserForm.get('add_country')?.invalid && UserForm.get('add_country')?.touched">
                Please input country
            </div>
            <ng-template #edit_country>
                <input type="text" class="form-control" formControlName="edit_country">
                <div class="alert alert-danger mt-2" role="alert"
                *ngIf="UserForm.get('edit_country')?.invalid && UserForm.get('edit_country')?.touched">
                    Please input country
                </div>
            </ng-template>
            <div id="emailHelp" class="form-text">Edit countary</div>
        </div>

        <!-- 薪水 -->
        <div class="mb-3">
            <label for="salary" class="form-label">Salary</label>
            <input type="number" class="form-control" formControlName="add_salary"
                *ngIf="FormName=='add'; else edit_salary">
            <div class="alert alert-danger mt-2" role="alert"
                *ngIf="UserForm.get('add_salary')?.invalid && UserForm.get('add_salary')?.touched">
                Please input salary
            </div>
            <ng-template #edit_salary>
                <input type="number" class="form-control" formControlName="edit_salary">
                <div class="alert alert-danger mt-2" role="alert"
                *ngIf="UserForm.get('edit_salary')?.invalid && UserForm.get('edit_salary')?.touched">
                    Please input salary
                </div>
            </ng-template>
            <div id="emailHelp" class="form-text">Edit Salary</div>
        </div>

        <!-- email -->
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="text" class="form-control" formControlName="add_email"
                *ngIf="FormName=='add'; else edit_email">
            <div class="alert alert-danger mt-2" role="alert"
                *ngIf="UserForm.get('add_email')?.invalid && UserForm.get('add_email')?.touched">
                Please input email
            </div>
            <ng-template #edit_email>
                <input type="text" class="form-control" formControlName="edit_email">
                <div class="alert alert-danger mt-2" role="alert"
                *ngIf="UserForm.get('edit_email')?.invalid && UserForm.get('edit_email')?.touched">
                    Please input email
                </div>
            </ng-template>
            <div id="emailHelp" class="form-text">Edit email</div>
        </div>
        
        <button type="submit" class="btn btn-primary me-1" *ngIf="FormName=='add';  else edit_btn" [disabled]="UserForm.get('add_name')?.invalid || UserForm.get('add_country')?.invalid || UserForm.get('add_salary')?.invalid || UserForm.get('add_email')?.invalid">Save change</button>
        <ng-template #edit_btn><button type="submit" class="btn btn-primary me-1" [disabled]="UserForm.get('edit_name')?.invalid || UserForm.get('edit_country')?.invalid || UserForm.get('edit_salary')?.invalid || UserForm.get('edit_email')?.invalid">Save change</button></ng-template>
        
        <button type="button" class="btn btn-primary" (click)="cancel_Form()">Cancel</button>
    </form>

   


</div>