<div class="container">
    <div class="row row-cols-2 justify-content-between">
        <div><button (click)="show_form('add')" type="button" class="btn btn-success">+ Add more user</button></div>
        <div>
            <div class="input-group" id="Search">
                <span class="input-group-text">Search by name:</span>
                <input type="text" class="form-control" placeholder="Type name to search" [(ngModel)]="searchValue"
                    (keyup)="filterStaffList()">
            </div>
        </div>

    </div>

    <table class="table table-striped">
        <caption>CRUD</caption>
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Countary</th>
                <th scope="col">Salary</th>
                <th scope="col">Email</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let staffMember of staffList_Crud; let i=index;">
                <td style="display: none;">{{staffMember.ID}}</td>
                <td>{{ staffMember.Name }}</td>
                <td>{{ staffMember.Country }}</td>
                <td>{{ staffMember.Salary }}</td>
                <td>{{ staffMember.Email }}</td>
                <td><button type="button" class="btn btn-primary"
                        (click)="show_form('edit',staffMember.ID)">Edit</button></td>
                <td><button type="button" class="btn btn-danger" (click)="delete(staffMember.ID)">Delete</button></td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="2">Total</td>
                <td colspan="4">{{ totalSalary }}</td>
            </tr>
        </tfoot>
    </table>
</div>

<app-form (SalaryTotal)="dochangeTotal($event)" [Edit_person]="person" *ngIf="IsshowForm" (cancelEvent)="changeEvent()" [FormName]="OpenThis"></app-form>