/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* styles.css */


.banner{
    background-image: url("https://github.com/as60160/HexSchool-2021-04-d-Perfume/blob/main/public/img/banner.jpg?raw=true");
    background-size: cover;
    background-position: center; /* 这将确保背景图片在元素中居中 */
    background-repeat: no-repeat; /* 防止背景图片重复 */
    height: 95dvh;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    align-content: stretch;
}



.banner>.button {
    top: 571px;
    left: 1070px;
    width: 350px;
    height: 60px;
    /* UI Properties */
    border: 2px solid #FFFFFF;
    border-radius: 30px;
    /* Opacity */
    opacity: 0.5;
}

.perfume1_img1{
    height: 555px;
    background-image: url("https://github.com/as60160/HexSchool-2021-04-d-Perfume/blob/main/public/img/index1.jpg?raw=true");
    background-size: cover;
    background-position: center; /* 这将确保背景图片在元素中居中 */
    background-repeat: no-repeat; /* 防止背景图片重复 */
}

.perfume1_img2{
    height: 555px;
    background-image: url("https://github.com/as60160/HexSchool-2021-04-d-Perfume/blob/main/public/img/index2.png?raw=true");
    background-size: cover;
    background-position: center; /* 这将确保背景图片在元素中居中 */
    background-repeat: no-repeat; /* 防止背景图片重复 */
}

.perfume1_img3{
    height: 555px;
    background-image: url("https://github.com/as60160/HexSchool-2021-04-d-Perfume/blob/main/public/img/index3.jpg?raw=true");
    background-size: cover;
    background-position: center; /* 这将确保背景图片在元素中居中 */
    background-repeat: no-repeat; /* 防止背景图片重复 */
}

.perfume1_img4{
    height: 1080px;
    background-image: url("https://github.com/as60160/HexSchool-2021-04-d-Perfume/blob/main/public/img/index4.jpg?raw=true");
    background-size: cover;
    background-position: center; /* 这将确保背景图片在元素中居中 */
    background-repeat: no-repeat; /* 防止背景图片重复 */
}

.foot{
    background-image: url("https://github.com/as60160/HexSchool-2021-04-d-Perfume/blob/main/public/img/subscribe.jpg?raw=true");
    background-size: cover;
    background-position: center; /* 这将确保背景图片在元素中居中 */
    background-repeat: no-repeat; /* 防止背景图片重复 */
    height: 95dvh;
}

footer{
    text-decoration: none; /* Removes the underline */
    color: white; /* Changes the text color to black */
}

.plan_btn{
    /* Layout Properties */
    top: 3579px;
    left: 1070px;
    width: 350px;
    height: 60px;
    /* UI Properties */
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 2px solid #000000;
    border-radius: 30px;
    opacity: 1;
}