<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a  href="#">
      <img src="https://github.com/as60160/HexSchool-2021-04-d-Perfume/blob/main/public/img/d%E2%80%99Perfume.png?raw=true" alt="">
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ms-auto" >
        <li class="nav-item">
          <a class="nav-link" href="#">Product</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">log in</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Wish list</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Cart(3)</a>
        </li>
      </ul>
    </div>

  </div>
</nav>

<section class="banner">
  <div class="container">
    <div class="d-flex justify-content-end"> 
      <div>
        <h1>Perfume your day</h1>
        <p>A perfume is like a piece of clothing, a <br class="d-none d-lg-block"> message<br class="d-block d-lg-none">, a
        way of presenting oneself <br class="d-none d-lg-block"> a costume that according to
        the <br class="d-none d-lg-block"> person who wears it.
        </p>
        <button class="btn btn-outline-light rounded">Shop now</button>
      </div>
    </div>
  </div>
</section>

<section class="perfume1">
  <div class="container">
    <div class="row g-0 align-items-center flex-sm-row-reverse">
      <div class="perfume1_img1 col-md-6"></div>
      <div class="col-md-4 mx-auto">
        <h2>Gabrielle CHANEL</h2>
        <p>全新嗅覺體驗，花香四溢、明亮馥郁。結合茉莉、依蘭依蘭、橙花和最迷人的格拉斯晚香玉之花香，呈現出夢幻花香氣息。 極具女性特質的香奈兒嘉柏麗香水，專為光芒四射的她而生。</p>
        <a href="#">查看更多</a>
      </div>
    </div>
    <div class="row g-0 align-items-center">
      <div class="perfume1_img2 col-md-6"></div>
      <div class="col-md-4 mx-auto">
        <h2>Five O’clock Au Gingembre</h2>
        <p>生薑與溫醇的肉桂香、紅糖的香甜摻和成一氣，溫暖微辛的氣息反倒形成一股輕煙氤氳開來，還帶點微微煙醺感漫溢在整個鼻息之間，細聞之下,又還有溫溫淡淡的木香，溫和而暖心。</p>
        <a href="#">查看更多</a>
      </div>
    </div>
    <div class="row g-0 align-items-center flex-sm-row-reverse">
      <div class="perfume1_img3 col-md-6"></div>
      <div class="col-md-4 mx-auto">
        <h2>CHANEL N°5</h2>
        <p>N°5，女性魅力的極致精髓。散發柔美澄透的乙醛花束香氣。經典傳奇香氛，蘊藏於極簡設計的獨特瓶身。</p>
        <a href="#">查看更多</a>
      </div>
    </div>
    <div class="row align-items-center">
      <div class="perfume1_img4 col-md-6"></div>
      <div class="col-md-4 mx-auto">
        <div class="flex-column justify-content-around">
          <div>
            <h2>1.<br>
               Levels of Preventive Maintenance Compliance</h2>
            <p>The core idea of preventative maintenance is the performance of proactive actions against unscheduled downtime in order to identify potential defects before they evolve into something more severe.</p>
          </div>
          <div>
            <h2>2.<br>
              Percentage of Planned Maintenance</h2>
            <p>The planned maintenance percentage is the total planned maintenance time in your CMMS software over a date range over the total number of hours of a service performed by the technicians.</p>
          </div>
          <div>
            <h2>3.<br>
              Critical percentage of planned maintenance</h2>
            <p>Calculating the critical percentage of planned maintenance will help you prioritize the most important operations that should be performed immediately.</p>
          </div>
          <div>
            <button class="plan_btn">Plan a free online training</button>
          </div>
        </div>
      </div>
    </div>
    
  </div>
</section>

<!-- <section class="perfume_width"> -->
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-4">
        <div>
          <img src="https://github.com/as60160/HexSchool-2021-04-d-Perfume/blob/main/public/img/index5.jpg?raw=true" alt="">
          <h3>Poppy & Barley</h3>
          <p>Jo Malone</p>
          <div class="d-flex flex-row">
            <p>NT$1,380</p><span>&nbsp;</span><del>NT$1,580</del>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div>
          <img src="https://github.com/as60160/HexSchool-2021-04-d-Perfume/blob/main/public/img/index6.jpg?raw=true" alt="">
          <h3>Body Wash</h3>
          <p>Curology</p>
          <p>NT$1,580</p>
        </div>
      </div>
      <div class="col-md-4">
        <div>
          <img src="https://github.com/as60160/HexSchool-2021-04-d-Perfume/blob/main/public/img/index7.jpg?raw=true" alt="">
          <h3>Apple Cider Vinegar Capsule</h3>
          <p>Tonike</p>
          <p>NT$1,580</p>
        </div>
      </div>
    </div>
  </div>
<!-- </section> -->

<!-- <section class="perfume_width"> -->
  <div class="container">
    <div class="row align-items-center">
        <img  class="col-md-8" src="https://github.com/as60160/HexSchool-2021-04-d-Perfume/blob/main/public/img/index8.jpg?raw=true" alt="">
      <div class="col-md-4">
        <div>
          <h2>Bottle-Recycling</h2>
          <p>Recycle your used empty bottles and be rewarded!</p>
          <p>For the past 10 years,
             we have collected over 800,000 bottles through Empty Bottle Recycling Campaign and planted more than 860 pine trees for a better environment.
             For the past 10 years, 
             we have collected over 800,000 bottles through Empty Bottle Recycling Campaign and planted more than 860 pine trees for a better environment.
          </p>
          <a href="#">查看更多</a>
        </div>
      </div>
      
    </div>
  </div>
<!-- </section> -->

<footer>
  <!-- <section class="perfume_width"> -->
    
      <div class="foot container d-flex justify-content-center align-items-center">
          <div>
            <h2 style="font-size: larger;">記得 <br> 訂閱以獲取更多資訊</h2>
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="button-addon2">
              <button class="btn btn-outline-secondary" type="button" id="button-addon2">Button</button>
            </div>
          </div>
      </div>
      
      <div style="background-color: #916000;" class="d-flex flex-row justify-content-center">
        <img src="https://github.com/as60160/HexSchool-2021-04-d-Perfume/blob/main/public/img/d%E2%80%99Perfumewhite.png?raw=true" alt="">
        <p>&copy;2020. All Rights Reserved.</p>
        <ul class="d-flex flex-row">
          <li>
            <a href="#" class="foot_a">Product</a>
          </li>
          <li>
            <a href="#">Blog</a>
          </li>
          <li>
            <a href="#">Contact</a>
          </li>
        </ul>
      </div>
  <!-- </section> -->
</footer>